.appMenuBar {
    background-color: white;
  }
  
.appMenuBar Button {
    color: black;
}

#sideDrawer {
    color: black;
}

.ToolbarStyle {
    background-color: white;
  }

.App-logo {
    pointer-events: none;
    padding-top: 5px;
    padding-left: 1em;
  }

.sideMenu {
  width: 15em;
  background-color: #282c34;
}

.MenuButton {
  text-emphasis-color: black;
  margin-right: 1em;
}

.SquareLogoStyle {
  width: 40px;
}